<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  </head>
  <body>
    <div class="center-container">
      <div class="landing-container">
        <h1>Crime Data</h1>
        <a class="fake-button" href="/user/login">Log In</a>
        <a class="fake-button" href="/user/new">Sign Up</a>
      </div>
    </div>
  </body>
</html>
